@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-donutool-text: #b6b7b7;
  --color-donutool-bg: #343d3f;
  --color-donutool-button: #57666a;
  --color-donutool-dark: #22292b;
}
